* {
  font-family: "Barlow Semi Condensed", sans-serif;
}
body {
  height: 100vh;
  background: rgb(31, 55, 86);
  background: linear-gradient(
    90deg,
    rgba(31, 55, 86, 1) 35%,
    rgba(20, 21, 57, 1) 100%
  );
}
