* {
  font-family: "Barlow Semi Condensed", sans-serif;
}
body {
  height: 100vh;
  background: rgb(31, 55, 86);
  background: linear-gradient(
    90deg,
    rgba(31, 55, 86, 1) 35%,
    rgba(20, 21, 57, 1) 100%
  );
}
header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.5rem 2rem;
  width: 24rem;
  margin: 0 auto;
  outline: 0.2rem solid hsl(217, 16%, 45%);
  border-radius: 0.4rem;
  margin-top: 2rem;
}
h1 {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 4rem;
}

.score-card {
  background-color: #fff;
  height: 5rem;
  width: 5rem;
  border-radius: 0.4rem;
}
.score-card p {
  text-align: center;
  margin-bottom: 0;
}
.score-card-score {
  margin-top: 0rem;
  font-size: 2rem;
  color: rgb(99, 99, 99);
}
.option-card,
.loader-card,
.scissors,
.rock {
  margin-top: 2rem;
  background-color: #fff;
  width: 5rem;
  height: 5rem;
  outline: 10px solid hsl(230, 89%, 65%);
  padding: 1rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s;
}

.oponent-card{
  margin-top: 2rem;
  background-color: #fff;
  width: 5rem;
  height: 5rem;
  outline: 10px solid rgba(128, 128, 128, 0.486);
  padding: 1rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s;
}
.oponent-card,.loader-card{
  margin: 0 auto;
  margin-top: 2rem;
}
.loader-card{
  outline: 10px solid rgba(128, 128, 128, 0.486);
}
.scissors {
  outline: 10px solid hsl(40, 84%, 53%);
}
.pick-paper{
  outline:10px solid hsl(230, 89%, 65%);
}
.rock,
.pick-rock {
  outline: 10px solid hsl(349, 70%, 56%);
}
.option-card:hover {
  transform: scale(1.1);
}
main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8rem;
  place-items: center;
  width: 25rem;
  margin: 0 auto;
  margin-top: 4rem;
}
.rock {
  position: relative;
  top: -5rem;
  right: -8rem;
  margin-top: 0;
}
.center-pick {
  margin-top: 7rem;
}
.pick {
  display: flex;
  justify-content: space-around;
}
.picked-h2{
  color:#fff;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-top: 1.5rem;
  text-align: center;
}
.option-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.option-container p{
  color: #fff;
  font-size: 1.3rem;
}
.option-container img{
  width: 4rem;
}
.option-container:last-child p{
    position: relative;
    right: -8rem;
    top: -5rem;
}